@charset "UTF-8";
@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #fff;
  background-color: #08020d;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  font-weight: bold;
  font-size: 38px;
  text-transform: uppercase;
}

h3 {
  margin: 0;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.button {
  padding: 20px 30px;
  font-family: Roboto, sans-serif;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.mr-24 {
  margin-right: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.text-center {
  text-align: center;
}

.bg-purple {
  background-color: #5328a1;
}

.bg-red {
  background-color: #95390c;
}

@media (max-width: 480px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
  }
}
.header {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.header-nav {
  height: -moz-max-content;
  height: max-content;
}
.header-nav-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  height: 24px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.header-nav-link {
  display: block;
  font-size: 11px;
  line-height: 1.5;
  color: #cacaca;
  text-decoration: none;
  text-transform: uppercase;
}
.header-nav .nav-link-active {
  color: white;
}
.header .search {
  height: 25px;
  margin-left: auto;
}
.header .search-input {
  box-sizing: border-box;
  width: 248px;
  height: 25px;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #3c3b3d;
  border: none;
  border-radius: 50px;
}
.header .search-input::-moz-placeholder {
  color: #757575;
  text-transform: uppercase;
}
.header .search-input::placeholder {
  color: #757575;
  text-transform: uppercase;
}

.logo {
  height: -moz-max-content;
  height: max-content;
  margin-right: 90px;
}
.logo-link {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  color: #fff;
  text-decoration: none;
}
.logo-img {
  width: 24px;
}
.logo-text {
  font: normal 11px/1.5 Roboto, sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-wrap: nowrap;
}

@media (max-width: 880px) {
  .header .logo {
    margin-right: auto;
  }
}
@media (max-width: 480px) {
  .header {
    flex-direction: column;
  }
  .header .logo {
    margin: 0 0 17px;
  }
  .header-nav {
    margin-bottom: 18px;
  }
  .header-nav-list {
    flex-direction: column;
    align-items: flex-start;
    height: -moz-max-content;
    height: max-content;
  }
  .header-nav-list li:not(:last-child) {
    margin-bottom: 3px;
  }
  .header-nav-link {
    height: 13px;
    font-weight: bold;
    line-height: normal;
  }
  .header .search {
    margin-left: 0;
  }
  .header .search-input {
    box-sizing: border-box;
    width: 100%;
    height: 25px;
  }
}
.footer-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.footer-nav-col {
  padding-top: 14px;
  padding-bottom: 1rem;
}
.footer-nav-col h2 {
  margin-bottom: 15px;
  font-size: 18px;
  text-align: left;
}
.footer-nav-link {
  display: block;
  font-size: 16px;
  color: #e0e0e0;
}
.footer-nav .footer-subscribe-list {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  align-items: center;
}
.footer-nav .footer-subscribe-list .footer-icon {
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer-nav .footer-subscribe-list .icon-google {
  width: 26px;
  height: 17px;
  background-image: url("../images/Google+.png");
}
.footer-nav .footer-subscribe-list .icon-twitter {
  width: 22px;
  height: 19px;
  background-image: url("../images/Twitter.png");
}
.footer-nav .footer-subscribe-list .icon-facebook {
  width: 12px;
  height: 20px;
  background-image: url("../images/Facebook.png");
}
.footer-nav .footer-subscribe-list .icon-instagram {
  width: 19px;
  height: 20px;
  background-image: url("../images/Instagram.png");
}

.footer-line {
  border: 1px solid #cacaca;
}

.footer-bottom {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer-bottom-list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding-bottom: 1rem;
}
.footer-bottom-link {
  font-size: 16px;
  color: #e0e0e0;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

@media (max-width: 980px) {
  .footer-nav {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, max-content);
  }
}
@media (max-width: 715px) {
  .footer-nav {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 460px) {
  .footer-nav {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, max-content);
  }
  .footer-nav-col h2 {
    margin-bottom: 1rem;
  }
  .footer-nav-col:last-child h2 {
    margin-bottom: 19px;
  }
  .footer-bottom-list {
    flex-direction: column;
    row-gap: 16px;
  }
}
.hero-section {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.description-container .hero-description {
  margin-top: 32px;
}
.description-container .form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
  max-width: 570px;
}
.description-container .form input {
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
}
.description-container .form input::-moz-placeholder {
  color: #fff;
}
.description-container .form input::placeholder {
  color: #fff;
}
.description-container .form-button {
  box-sizing: content-box;
  width: 100%;
  height: 17px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #34c176;
  border: none;
}

@media (max-width: 414.98px) {
  .description-container {
    padding-top: 248px;
  }
  .description-container .hero-description {
    margin-top: 16px;
  }
}
.pricing-container {
  padding-top: 100px;
}
.pricing-container h2 {
  margin-bottom: 48px;
}
.pricing-container .pricing-description {
  margin: 0;
  text-align: center;
}

.pricing-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin: 0 0 40px;
  padding: 0;
  list-style-type: none;
}
.pricing-list .pricing-item {
  padding: 1.5rem 1.5rem 4rem;
  text-align: center;
  border-radius: 1rem;
}
.pricing-list .pricing-item h3 {
  margin-bottom: 200px;
  font-size: 24px;
  text-transform: uppercase;
}
.pricing-list .pricing-item p {
  margin: 0;
}
.pricing-list .pricing-item .pricing-value {
  display: inline-block;
  height: 64px;
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1;
}
.pricing-list .pricing-item .pricing-value::after {
  position: relative;
  top: -20px;
  display: inline-block;
  height: 48px;
  margin-left: 1rem;
  font-size: 32px;
  line-height: 1.5;
  content: "РУБ.";
}
.pricing-list .pricing-item .button-pricing {
  display: block;
  margin-bottom: 4rem;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  border: 1px solid #fff;
  text-decoration: none;
}
.pricing-list .pricing-item .pricing-footer {
  font-size: 12.8px;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standart {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

@media (max-width: 1000px) {
  .pricing-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 50px;
  }
}
@media (max-width: 660px) {
  .pricing-list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 414px) {
  .pricing-list .pricing-item {
    padding-top: 16px;
  }
  .pricing-list .pricing-item h3 {
    font-weight: bold;
    font-size: 16px;
  }
}
.news-container {
  padding-top: 100px;
}
.news-container h3 {
  margin-bottom: 30px;
  font-size: 30px;
}
@media (max-width: 414.98px) {
  .news-container h3 {
    margin-bottom: 16px;
    font-size: 16px;
  }
}
.news-container p {
  margin-top: 0;
  margin-bottom: 24px;
  color: #cacaca;
}
.news-container .page-news-title {
  margin-bottom: 3rem;
  text-align: center;
}

.news-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.news-list .news-item {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.news-list .news-item:not(:last-child) {
  margin-bottom: 65px;
}
.news-list .news-item > * {
  flex: 1;
}
.news-list .news-item .news-img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 414.98px) {
  .news-list .news-item .news-img {
    max-height: 186px;
  }
}
.news-list .news-item .news-author {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.news-list .news-item .news-author-avatar {
  width: 19px;
}
.news-list .news-item .news-author-place {
  line-height: 19px;
  color: #f89202;
  text-wrap: nowrap;
}
.news-list .news-item .news-author-date {
  font-size: 12px;
  line-height: 19px;
  color: #cacaca;
}

.button-news {
  box-sizing: border-box;
  display: inline-block;
  height: 53px;
  padding: 16px 30px;
  margin-top: 3rem;
  font-size: 12px;
  line-height: 19px;
  color: #cacaca;
  border: 1px solid #cacaca;
  text-decoration: none;
}

@media (max-width: 1239.98px) {
  .news-list .news-item {
    height: auto;
  }
  .news-list .news-item > * {
    width: 47.9166666667%;
  }
}
@media (max-width: 575.98px) {
  .news-list .news-item {
    flex-direction: column;
  }
  .news-list .news-item > * {
    width: auto;
  }
  .news-list .news-item .news-img {
    margin-bottom: 50px;
  }
}
.app-container {
  padding-top: 100px;
  margin-bottom: 100px;
}
.app-container h2 {
  margin-bottom: 3rem;
}

.app-description {
  display: flex;
  -moz-column-gap: 144px;
       column-gap: 144px;
}
.app-description-left {
  max-width: 600px;
}
.app-description-text {
  color: #cacaca;
}
.app-description-img {
  max-height: 278px;
  -o-object-fit: contain;
     object-fit: contain;
}

.button-app {
  display: inline-block;
  padding: 17px 40px;
  font-size: 12.8px;
  line-height: 19px;
  background-color: #95390c;
  border: none;
  border-radius: 2rem;
  text-decoration: none;
  text-transform: none;
}

@media (max-width: 1086px) {
  .app-description {
    -moz-column-gap: 44px;
         column-gap: 44px;
    justify-content: space-between;
  }
}
@media (max-width: 786px) {
  .app-description {
    flex-direction: column-reverse;
  }
  .app-description-left {
    max-width: 100%;
  }
}/*# sourceMappingURL=app.css.map */