@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
body {
  margin: 0;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
  color: #cacaca;
  background-color: #08020d;
  z-index: -1;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  font-size: 38px;
  font-weight: bold;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.logo {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  height: 24px;
  font-size: 11px;
}
.logo img {
  width: 24px;
}
.logo span {
  text-transform: uppercase;
  text-wrap: nowrap;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 414px) {
  body {
    padding: 0 20px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
  }
}
#page-description {
  background-image: url("/src/images/banner.png");
  background-position: center;
  background-size: cover;
}

.header-section {
  position: relative;
  padding: 200px 120px;
}

.header {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.header-nav {
  margin-left: 90px;
  margin-right: 24px;
}
.header-nav-list {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  padding: 0;
  margin: 0;
  font-size: 11px;
  text-transform: uppercase;
  list-style-type: none;
}
.header .search-input {
  box-sizing: border-box;
  width: 248px;
  height: 25px;
  padding: 5px 10px;
  margin-left: auto;
  color: #cacaca;
  background-color: #3c3b3d;
  border: none;
  border-radius: 50px;
}
.header .search-input::-moz-placeholder {
  font-family: Arial, Roboto, sans-serif;
  color: #757575;
}
.header .search-input::placeholder {
  font-family: Arial, Roboto, sans-serif;
  color: #757575;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.hero-section p {
  margin-top: 31px;
  margin-bottom: 17px;
}
.hero-section .form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 570px;
}
.hero-section .form input {
  box-sizing: border-box;
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  color: #fff;
  background-color: inherit;
  border: 2px solid #cacaca;
  border-radius: 3px;
}
.hero-section .form input::-moz-placeholder {
  line-height: 1.15;
  color: #fff;
}
.hero-section .form input::placeholder {
  line-height: 1.15;
  color: #fff;
}
.hero-section .form .form-btn {
  width: 100%;
  padding: 21px 21px;
  font-family: Arial, Roboto, sans-serif;
  line-height: 1.15;
  color: #fff;
  background-color: #34c176;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}

.logo {
  vertical-align: center;
}/*# sourceMappingURL=app.css.map */